[2016-10-10 19:06] arunoda opened #1 "Avoid JSON stringifying"
Currently we put the stringified version of the docgenInfo.
So, we have to do `JSON.stringify`

It's much better to avoid it in terms of usability and performance wise.

[2016-10-10 19:09] arunoda opened #2 "Support functional stateless components"
I didn't checked the code, but seems like we can use [this](https://github.com/oliviertassinari/babel-plugin-transform-react-remove-prop-types/blob/master/src/isStatelessComponent.js).

[2016-10-10 19:25] arunoda opened #3 "Add all these docgen info into a global array"
We need maintain a global array which contains all these docgen Info in a single place. This will help us to create a directory of classes.

So, at end of each React class we need to push a code block like this:

[code]

This is something optional and enabled with a flag. We also need to get the variable name `STORYBOOK_REACT_CLASSES` from the outside.

[2016-10-20 04:51] arunoda commented on #3
Implemented with #5

[2016-10-20 04:51] arunoda commented on #3
@madushan1000 could you add how to use this on the docs page.

[2016-10-20 04:52] arunoda commented on #2
Fixed with #6

[2016-10-20 04:52] #2 closed

[2016-10-20 04:53] arunoda commented on #1
Fixed with #4

[2016-10-20 04:53] #1 closed

[2016-10-20 05:29] arunoda opened #8 "Change the package name as babel-plugin-react-docgen"
This allows others to discover babel plugin on NPM.
And it's sounds nice :)

[2016-10-20 06:41] madushan1000 commented on #8
Done

[2016-10-20 06:41] madushan1000 commented on #3
Done.

[2016-10-21 02:48] #8 closed

[2016-10-21 21:47] lucasconstantino opened #14 "Multiple components in the same file"
It appears to be a bug, but when I have multiple components on the same file, the docgen info is not beeing attached to the component's class.

I'll try and investigate further.

[2016-10-21 23:31] arunoda commented on #14
Actually,  that how docgen works.
They only works when you have a single component in the file.

[2016-10-21 23:55] #3 closed

[2016-10-21 23:56] arunoda commented on #14
@madushan1000 BTW react-docgen [supports](https://github.com/reactjs/react-docgen/blob/1f3cac2f4cbf1b45a0c657817b273dd8c54a8309/src/resolver/__tests__/findExportedComponentDefinition-test.js#L207) multiple classes if it only export a single class.
Do we cover that case?

[2016-10-22 04:11] lucasconstantino commented on #14
I notice this issue when having two stateless components, only one of them being exported, and this one being exported as the default.

[code]

I think this is indeed a missing functionality, but by far it is not the most relevant one. I guess adding it to the README might be fine for most users. I'll see if this happens with other situations as well.

Thanks for the quite reply! I'll leave it ope

[2016-10-22 06:36] arunoda commented on #14
I think we should only add docs for the default export. (Which is `First` in this case).
If that's not, we should fix it.
@madushan1000 check about this, when you have some time.

Of course, we need to mention this on the README.

[2016-10-23 04:32] arunoda opened #16 "Use the React stateless class detector used in react-docgen"
React Docgen has it's own way to detecting React stateless classes. So it's better to use that.
It's located in: https://github.com/reactjs/react-docgen/blob/master/src/utils/isStatelessComponent.js

We can get it directly with:

[code]

[2016-10-23 04:33] arunoda commented on #16
@madushan1000 check this out.

[2016-10-24 05:00] madushan1000 commented on #16
I tried using it before. But react-docgen uses recast as the AST walker. And recast doesn't seem to support babel6 ASTs. SO we can't use those functions.
But it looks like there are some options(https://babeljs.io/blog/2016/09/28/6.16.0) we can pass to the parser so it generates recast compatible ASTs. I'll try it today.

[2016-10-24 05:10] madushan1000 commented on #16
So, using babel parser and generator options we can use recast for both instead of babylon in bable6. But I think it's overkill for just one plugin.

[2016-10-24 05:37] madushan1000 commented on #14
There should be a way to see if a class if exported or not. I'll take a look.

[2016-10-24 06:51] arunoda commented on #16
Okay. Let's leave it like this for now.

[2016-11-02 19:34] miketheanimal opened #19 "Problem with storybook and HOC"
Running storybook throws an error in babel-plugin-react-docgen in the code below

    export default function Modal (component) {
        return class extends component {
            constructor (...args) {
                super(...args) ;
                ....
                }

            ......
            }
        }

    ERROR in ./src/lib/modal.js
    Module build failed: TypeError: /tmp/rea

[2016-11-03 04:14] madushan1000 commented on #19
Which storybook version are you running?

[2016-11-03 05:29] madushan1000 commented on #19
Doesn't matter, I can replicate the issue in the latest version. I'll take a look.

[2016-11-03 06:50] #19 closed

[2016-11-03 07:28] arunoda commented on #19
We fixed this and release a new version of storybook.

[2016-11-04 10:03] miketheanimal commented on #19
Thanks!

[2016-12-15 22:32] sighrobot opened #21 "Support for method detection"
Though there is no mention of this in the `react-docgen` README, in addition to prop detection it technically supports method detection as well (see [react-docgen#17](https://github.com/reactjs/react-docgen/issues/17)).

I can't seem to get the plugin to recognize a doc block for a method. Is there a reason that method info is not included via this plugin?

[2016-12-20 18:35] probablyup opened #22 "Support for resolvers and handlers"
`react-docgen` proper [allows for custom functions](https://github.com/reactjs/react-docgen#parsesource--resolver--handlers) that modify or enhance the default output.

This is super useful for detecting things like spread applying multiple prop type trees, etc since docgen doesn't handle that natively.

[2016-12-21 12:02] arunoda commented on #22
Yeah. We could add that support.
Send us a PR.

[2017-05-23 18:02] danielduan commented on #21
I'm thinking of making the default settings export with methods since I think documenting internal methods could be of use, even if they are not exposed externally. It also doesn't hurt and shouldn't break the plugin for those who don't need it.

[2017-05-23 18:16] danielduan opened #26 "Detect components that use React.createClass()"
React.createClass components get skipped over entirely.

[2017-05-23 18:20] danielduan commented on #14
I think this issue has been fixed already. Leave a comment if it hasn't been.

[2017-05-23 18:20] #14 closed

[2017-05-30 06:05] Stupidism opened #28 "Support generate doc with imported component"
A member of them said this is possible in this [issue](https://github.com/reactjs/react-docgen/issues/185#issuecomment-302544343)
reference doc is [here](https://github.com/reactjs/react-docgen#parsesource--resolver--handlers)

[2017-05-31 16:07] #26 closed

[2017-06-01 15:50] danielduan commented on #28
I'm not sure what you're asking for here. With this plugin configured with babel, when you access a component via the import or require, you should be able to see the docgen info.

[code]

[2017-06-01 20:18] Stupidism commented on #28
[code]

Then the description info is lost.
[code]

[2017-06-01 21:15] danielduan commented on #28
There's no way around this unfortunately. `react-docgen` only supports getting proptype info from the component file itself, not any imported components or proptypes.

I think its a limitation of `react-docgen` itself, but if you find a solution, please open a PR. I would love to see that implemented.

[2017-06-01 21:30] Stupidism commented on #28
@danielduan But [here](https://github.com/reactjs/react-docgen/releases/tag/v2.11.0) it says hoc is OK.

[code]

[2017-06-01 21:35] danielduan commented on #28
I think their case is when the HOC is in the same file.

Their tests are all contained in the same file:
https://github.com/reactjs/react-docgen/pull/124/files

[2017-07-07 19:52] ndelangen opened #29 "Support flow type props validation"
Did you have any plan to support:

[code]

together with

[code]

[2017-07-18 09:21] luujam1 opened #30 "IsStatelessComponent returning false on valid component"
I have this component which has the react syntax transpiled:

[code]

This plugin doesn't call react-docgen since it doesn't consider it as a react component. However when I parse it directly using react-docgen I get the docgen info. Is it possible to be able to configure the babel plugin to accept this component format? Thanks

[2017-07-20 15:15] danielduan commented on #30
Would you mind submitting a PR for this?  @luujam1

[2017-07-21 10:46] luujam1 commented on #30
@danielduan I have create a PR. Please see https://github.com/storybooks/babel-plugin-react-docgen/pull/31

[2017-07-21 17:36] danielduan commented on #30
PR merged, closing issue. Thanks for the help @luujam1!

[2017-07-21 17:36] #30 closed

[2017-07-21 18:21] danielduan commented on #29
I'm not actually sure how flow works under the hood. If there's a way to get flow type transpiled in babel to `static propTypes` before we process the docgen stuff, there's definitely possibility.

[2017-07-26 15:25] danielduan commented on #30
@luujam1 fyi, new version `v1.6.0` is published

[2017-08-13 14:57] GeorgeTaveras1231 opened #33 "`export default Component` and functional components declared with `function()` do not work"
I've been looking at this for two days without any progress so I thought I'd bring the problem here. Does anything jump out is invalid to you guys?

### Versions

react-docgen: 3.0.0-beta6
babel-plugin-react-docgen: 1.7.0

### Babelrc

[code]

### Source

[code]

### Problem
Not getting `__docgenInfo` property on component constructor.
<img width="517" alt="screen shot 2017-08-13 at 10 51 58 am" s

[2017-08-13 15:25] danielduan commented on #33
It looks like we might not support stateless functional components like `function Component() {}`. A workaround would be to write it as `Component() => {}`.

We haven't tested it with Docgen 3, but that's probably not the issue here.

[2017-08-13 18:35] GeorgeTaveras1231 commented on #33
@danielduan Thanks for the feedback. Per your suggestion, I tried a couple different approaches and found the following.

These work:

[code]

[code]

These **don't** work:

[code]

[code]

Also, thanks for opening the door for a PR. I would do it but I don't have the time at this very moment. I wouldn't totally mind opening a PR to document more explicitly what syntax is valid for this plugin to

[2017-08-16 17:32] danielduan commented on #29
Gonna close this one since it seems like react-docgen has support for flow-types in the latest versions:
https://github.com/reactjs/react-docgen

[2017-08-16 17:32] #29 closed

[2017-08-17 14:19] Mottoweb commented on #29
It seems that info addon still does not render props from flow types though.

[2017-08-20 23:31] danielduan commented on #29
@Mottoweb try cleaning out your `node_modules` and reinstalling. You'll need the latest version of info and the associated babel plugin.

[2017-08-29 18:28] konsumer commented on #33
I am having a similar issue (see [here](https://github.com/storybooks/storybook/issues/1762) and [here](https://github.com/konsumer/storybook_issue_1762) for a demo.) I can make it work if I only export 1 interface (stateless function or not) but I like to export default + individual components.

Maybe a simple detect-react-components strategy would help:

1. If only default or 1 exported function

[2017-08-29 18:59] danielduan commented on #33
I think there's a few bugs here:
1. inlined export doesn't get detected `export default class Button`
2. named exports don't get docgen info when there's a default export
3. `function Button()` doesn't get recognized as stateless functional components

Your approach sounds good and will fix 2, but you might need to address 1 as well.

[2017-08-30 05:20] konsumer commented on #33
Yeh, I see your point. Maybe 1 could be resolved with "extends React.Component?" check. I feel like a straight check for "of the things exported, if it's a function or extends React.Component, or is createReactClass" would, if not overly-greedy, hit all the targets. As I said, I don't really mind if too much is annotated, as it can just be ignored. Does this seem like a sensible approach?

[2017-08-30 05:27] konsumer commented on #33
This all stems from my fondness of exporting everything (for unit-tests and storybooks) but making a default export that is the complete redux-connected component, as I use it my app. Most of my code looks like this, and I'd love to be able to get the doctext out:

[code]

This makes it so I can unit-test my state-mappings, the Component (without redux) and write storybook stories for just the com

[2017-08-30 09:14] konsumer commented on #33
I made an issue (and patch) [here](https://github.com/reactjs/react-docgen/issues/213) that resolves this for my use-case. I suspect that I am probably missing some key detail, but if it gets in, it should resolve the issue.

[2017-09-03 20:33] konsumer commented on #33
In CLI it seems to work fine with a different built-in resolver, but I don't see any way to add that config to babel-plugin-react-docgen, as it's used in storybook's webpack config.

`react-docgen --pretty --resolver findAllComponentDefinitions src/stories/Demo.js`:
[code]

If the default were `findAllComponentDefinitions`, or we were able to override the resolver with a config var, it would make

[2017-09-06 21:24] danielduan commented on #33
We could expose it as an option for the babel plugin. I'm gonna guess there's probably a way to pass something to react-docgen to turn on findAllComponentDefinitions too.

Sorry I'm not too responsive this past week and I'm gonna be away for the next one as well. If you find a solution, please do update and open a PR.

[2017-09-06 21:30] danielduan opened #34 "Upgrade to `react-docgen@3.0`"
- [ ] Determine if 3.0 is compatible
- [ ] Migrate code if needed
- [ ] Test in storybook example app and other projects

[2017-09-10 18:12] alexeyMohnatkin commented on #29
Should it work with flow types only?

[2017-09-15 16:37] danielduan commented on #29
I'm not sure what you mean by flow types only @alexeyMohnatkin. This should work with both regular prop types and flow types.

[2017-09-22 12:26] flipace commented on #33
@konsumer @danielduan i made a pr which allows you to use one of the builtin resolvers of react-docgen by passing options to the babel plugin.

I'm not sure how to write the tests for it however :(

[2017-09-24 20:25] #21 closed

[2017-09-25 05:46] jorilallo commented on #34
@danielduan How about doing 2.18.0 upgrade first? Looks like 2.15.0 isn't really playing ball with the latest Flow at least for us

[2017-09-25 13:49] danielduan commented on #34
@jorilallo we list the `^` version in the `package.json` so it should install the latest minor version of `react-docgen` if you clear your `node_modules` and any lock files you have and reinstall.

[2017-09-25 13:52] danielduan commented on #22
support for resolver has been published. keeping this issue open for handlers.

[2017-09-27 14:46] thebuilder opened #36 "1.8.0 throws a large amount of errors"
Once i updated from 1.7.0, running Storybook with docgen would drown my terminal in traversel errors. Spend some time trying to figure out what was causing this, trying to set the different resolvers, etc.

Turns out the issue is the add `console.error` that logs everything.
https://github.com/storybooks/babel-plugin-react-docgen/blob/735a80bca397df11295952e13bdd36171a043f56/src/index.js#L150

Sin

[2017-09-27 20:10] danielduan commented on #36
Thanks for looking into this! @thebuilder

If you'd like to open a PR for this, I'd very much appreciate it. I can get to it sometime tomorrow if not.

[2017-09-28 13:48] #36 closed

[2017-09-28 13:49] danielduan commented on #36
published 1.8.1 to fix this

[2017-09-28 14:25] thebuilder commented on #36
Cool! I'll update now. ok👌

[2017-10-11 07:41] Mottoweb commented on #29
@danielduan it worked thanks, but still i cant see the description for the prop. Or maybe its addon-info related?

[2017-10-29 22:59] danielduan commented on #29
@Mottoweb there's been a bug fix merged to 3.3 that fixes the docgen issues when loading from static bundles.

[2017-12-11 09:26] PDarkTemplar opened #39 "Plugin not generating docgen for flow types"
Current docgen has issue with flow syntax like this:

[code]

which is perfectly fine syntax, but it is crashing on first pipe. [#236](https://github.com/reactjs/react-docgen/issues/236). With beta version it is working as expected. Can i somehow configure this plugin to use beta version of docgen with storybook? Right now i can use only workaround without using first pipe.

[2017-12-11 18:15] danielduan commented on #39
You can do some npm or yarn tricks to have it upgrade a subdependency. I don't feel too comfortable putting beta packages in a release version.

Even though I can publish a beta for this plugin, you still won't be able to use it in Storybook..

[2017-12-13 17:28] CLL80 commented on #14
I see that when exporting multiple components from a single file. Docs aren't rendered at all—even for the `default` exported component. Based on the comments above, it seems the expected behavior would be that docs are rendered the default export only, but no docs are rendered.

This can be tested by exporting a component in addition to the default export. For example, in `test/fixtures/case5/act

[2017-12-13 17:33] binomialstew opened #40 "Docs aren't rendered for the default export when there are other exports in the same file"
This seems to be related to [this issue](https://github.com/storybooks/babel-plugin-react-docgen/issues/14), but I'm opening this since that was closed over a 6 months ago.

I see that when exporting multiple components from a single file. Docs aren't rendered at all—even for the default exported component. Based on the comments above, it seems the expected behavior would be that docs are rendered

[2017-12-13 19:24] danielduan commented on #40
I can see how it's possible. Feel free to open a PR if you'd like to tackle the issue, I'd really appreciate it.

I think a workaround would be to use `findAllExportedComponentDefinitions` for the `resolver` option.

[2017-12-15 00:25] CLL80 commented on #40
Thanks for the hint. I'll see if I can set aside some time for this.

[2018-01-25 22:57] good-idea commented on #39
I'm having a somewhat similar issue. It's hard to pin down if it's something related to this plugin, or with **storybook/addon-info**, where I'm implementing it.

My component looks like this:

[code]

The docs are outputting this table:
![image](https://user-images.githubusercontent.com/11514928/35416676-dd3a1cde-01de-11e8-9dfb-3e9d34b646d2.png)

It looks like it's only picking up the info from `

[2018-02-04 14:29] wafflepie opened #42 "Flow prop documentation breaks when class property functions with optional parameters are used"
This piece of code renders `No propTypes defined!` in the info:
[code]

If I remove the question mark, the prop type description is rendered correctly:
[code]

property | propType | required | default | description
-- | -- | -- | -- | --
label | number | yes | - | The text to be rendered in the button

Tested on v1.8.2 of babel-plugin-react-docgen and reproduced in storybook of both v3.4.0-alpha.7

[2018-02-04 22:59] kevinbarabash commented on #34
I'm excited about moving to 3.0 b/c it's supposed to support exact object types.

[2018-02-04 23:17] kevinbarabash commented on #34
I tried upgrading react-docgen to v3 in the babel plugin and it seems to be working.  I need more test cases.  I'm curious to see how it handles:
- [ ] spreading of exact object types
- [ ] $ReadOnly utility types

https://github.com/Khan/babel-plugin-react-docgen/commit/3718ef59b0b2fcb506248d34f45ece35c537b9fe

[2018-02-04 23:19] kevinbarabash commented on #34
@danielduan do you mind if I open a PR with the expectation it won't get merged until the final 3.0 release?

[2018-02-04 23:27] Hypnosphi commented on #34
Does this imply a breaking change in `babel-plugin-react-docgen` and `@storybook/addon-info`?

[2018-02-05 01:42] kevinbarabash commented on #34
@Hypnosphi in the commit I linked to above all the of the existing tests pass so maybe not?

[2018-02-07 18:30] ghost opened #43 "I cannot get it to work with flow"
This is my package.json

[code]

babelrc
[code]

Component
[code]

but `Component.__docgenInfo` is always undefined.

I am not sure what i am doing wrong.

[2018-02-12 09:24] wafflepie commented on #42
This is solved by react-docgen@3.0.0, I managed to fix it temporarily by adding
[code]
to my package.json.

[2018-02-12 22:02] danielduan commented on #43
I wonder if flow interferes with the AST parser that we use to determine if it's a react component or not. Sounds like this is an edge case we missed.

[2018-02-12 22:04] danielduan commented on #34
@kevinbarabash please be my guest. I have a local branch somewhere where I tested an earlier beta release a few months back and it seems to work fine with Storybook.

[2018-02-18 22:49] kevinbarabash commented on #34
@danielduan cool.  I should have some time in a couple of weeks.

[2018-03-14 21:20] CLL80 commented on #40
PR [here](https://github.com/storybooks/babel-plugin-react-docgen/pull/46). When using the `findAllExportedComponentDefinitions` resolver, the docgenInfo is an array with the object inside. This is not usable by `@storybook/addon-info` in it's current state because it is looking for an object directly inside `__docgenInfo`. If it is not found, no docs are rendered for `react-docgen`.

[2018-03-15 19:37] tkiethanom commented on #42
@wafflepie I tried doing the "resolutions" thing in my package.json. It doesn't seem to work. Do you reinstall the package after adding the resolutions to the package.json?

[2018-03-16 01:12] Hypnosphi commented on #42
@tkiethanom it only works with yarn

[2018-03-16 01:52] tkiethanom commented on #42
@Hypnosphi Thanks for the reply. Do you know of a good work around for regular old npm users? For right now I just pointed to this fork https://github.com/Khan/babel-plugin-react-docgen/tree/docgen-v3.

[2018-03-20 09:22] wafflepie commented on #42
@tkiethanom Sorry for not replying earlier. I don't think there is an alternative for npm users which is not hacky. 😞

[2018-03-28 02:56] #33 closed

[2018-04-01 20:15] Hypnosphi commented on #34
@kevinbarabash do you need any help with that? Looks like it would solve a lot of issues we currently have

[2018-04-01 20:22] Hypnosphi commented on #39
We can actually support supplying your own instance of babel-plugin-react-docgen in custom babelrc, by adding a check here: https://github.com/storybooks/storybook/blob/master/app/react/src/server/babel_config.js#L79

[2018-04-02 17:20] danielduan commented on #42
I'm not particularly comfortable with publishing a release version that depends on a beta version but I don't think there are any better alternatives.

I'm gonna publish a new version that relies on the beta to fix most of these flow issues since that seems to be a growing problem.

[2018-04-02 20:00] danielduan commented on #42
v1.9.0 published. clear your lock files, reinstall, and let me know if this doesn't fix the issue.

[2018-04-02 20:00] #42 closed

[2018-04-02 20:03] danielduan commented on #43
v1.9.0 published with docgen@3.0-beta. clear your lock files, reinstall, and let me know if this doesn't fix the issue.

[2018-04-02 20:03] #43 closed

[2018-04-02 20:04] danielduan commented on #39
v1.9.0 published with docgen@3.0-beta. clear your lock files, reinstall, and let me know if this doesn't fix the issue.

[2018-04-02 20:04] #39 closed

[2018-04-09 14:12] ben-seed opened #48 "Support HOCs that wrap & export component"
No documentation is produced if a component is wrapped before being exported, e.g. using redux connect.

I've tried using different resolvers but this doesn't fix the problem. I can see in the react-docgen codebase history that [they have added support for HOCs](https://github.com/reactjs/react-docgen/pull/124), so I believe this limitation must be specific to this plugin.

[2018-04-10 21:08] danielduan commented on #48
can you paste a full file that I can test? we do support some HOCs, but definitely think we missed some edge cases.

[2018-04-10 21:09] #16 closed

[2018-04-10 21:09] #22 closed

[2018-04-11 19:09] danielduan commented on #16
for context, docgen moved over to babylon but their `isStatelessComponent` isn't on parity with ours so there's no point moving over.

[2018-04-17 06:51] ben-seed commented on #48
TestComponent.jsx:

`import React from 'react';
import PropTypes from 'prop-types';
import { connect } from 'react-redux';
import testSelector from './testSelector';

class TestComponent extends React.Component {
    static propTypes = {
        /** Text to display */
        text: PropTypes.string,
        /** Called on click */
        onClick: PropTypes.func
    };

    static defaultProps = {

[2018-04-17 07:12] ben-seed commented on #48
TestComponent.jsx:
[code]

testSelector.js:
[code]

[2018-05-17 17:25] mattapperson commented on #48
Also running into this issue with similar code

[2018-05-28 10:48] lawliet29 opened #50 "Named exports with declarations are ignored"
Consider the following component:

[code]

`babel-plugin-react-docgen` ignores such a declaration because `isExported` function looks specifically for `ExportNamedDeclaration` with a specifier, i.e. `export {Button}` or `export {Button as GlobalSpecifierButton}`.

Is this expected behavior?
I'm currently patching `babel-plugin-react-docgen` manually to work with named exports with declarations, so

[2018-05-31 22:28] wuweiweiwu commented on #50
Can you also try:

[code]

I think it might be because you're exporting an inline declaration so that proptypes are never applied.

[2018-06-15 07:16] wuweiweiwu commented on #50
I see. Do you mind submitting a PR with a fix?

Thanks!

[2018-06-16 12:50] Hypnosphi commented on #50
`export {Button}` should work though

[2018-06-17 09:15] #50 closed

[2018-06-17 15:19] #40 closed

[2018-06-17 16:10] #28 closed

[2018-06-18 18:18] binomialstew opened #55 "Are we open to changing the test file names?"
When working on the last PR, I noticed that the `test/fixtures` file names were not as clear as I would like. For example, the test source files are named `actual.js`. I would expect these to be named `source.js` and any generated output to be named `actual.js`. `expected.js` would stay the same. This would also allow for an `npm` command that generates `actual.js` without overwriting the existing

[2018-06-18 18:47] danielduan commented on #55
I completely agree all of the above. Maybe even reorganizing the folders and folder names so that they make more sense in terms of grouping too.

[2018-06-24 15:14] s-kobets opened #56 "Does not work in my case if I use the babel configuration in webpack"
Use webpack.config
[code]

[code]

`return <Component>.__docgenInfo = undefined`

[2018-06-24 15:29] s-kobets commented on #56
I am sorry, win.
If import Doc in file index.js then working
if use `console.log(Doc.__docgenInfo)` in file when create class Doc  - not work

[2018-07-09 21:08] carrickjason commented on #22
@danielduan Why are handler unnecessary?

[2018-07-13 02:42] danielduan commented on #22
@carrickjason I haven't seen any demand for that feature. If you'd like to take a shot at creating a PR to add support for custom resolvers, I'd be more than happy to take a look and get it merged.

[2018-07-23 22:06] danielduan commented on #56
I wonder if docgen detects `PureComponent` as a valid class type. Let me investigate this when I have time, or please feel free to open a PR if you'd like to try and solve this as well.

[2018-08-01 08:40] yakirsobelman opened #57 ""Property value expected type of" error for an unnamed function"
Hi,

I not sure if this one relates to here or [babel-types](https://github.com/babel/babel/blob/master/packages/babel-types/README.md) but I hope someone here will be able to direct me to the right address.

I'm using `@storybook/react@4.0.0-alpha.14`.
When running `npm run storybook` I'm tackled with the error below (real filenames obfuscated):
[code]
After some research it appears that `Compone

[2018-08-07 09:09] RyosukeCla commented on #57
same issue

[2018-08-10 18:14] tiansijie commented on #57
i think is related to the issue here https://github.com/reactjs/react-docgen/pull/277

[2018-08-14 18:10] #57 closed

[2018-08-14 18:36] danielduan commented on #57
published fix as `babel-plugin-react-docgen@2.0.0-rc.2`

[2018-08-23 18:59] chrisnojima opened #60 "Update to babel 7?"
Hi,

I'm having issues w/ this plugin (which is loaded by other addons) since it's based on babel 6. Any plans to update this?

Thanks

[2018-08-28 14:28] chrisnojima commented on #60
alpha 18 with babel final seems to work, closing this

[2018-08-28 14:28] #60 closed

[2018-11-01 12:06] VladimirPittner opened #61 "If using reacts injectIntl to wrap component __docgenInfo is undefined"
Hi, I have been going through some open issues in react-docgen and some closed issues here about HOC's not having docgenInfo and I could not find solution.

I understand its not trivial, but did someone find a way how to solve this problem?

Basically the moment I will use injectIntl to wrap any component I will lose docgenInfo.

Example:
[code]
[code]

I am using
[code]

Thanks

[2018-11-08 07:04] original001 opened #62 "Error: Cannot find module 'recast'"
npm -v 5.6-5.8
node -v 8.9.4

you have `recast` in devDependencies, but you are using this module in general file. In some case I don't get module on top of `node_modules` tree. and it doesn't exist in `node_modules` of `babel-plugin-react-docgen`. it only exist in `react-docgen` `node_modules`. Please, add recast in dependencies.

[2019-01-05 04:38] togakangaroo commented on #62
I get this too

[2019-01-07 21:34] wuweiweiwu commented on #62
The fix would be to move it from devDependencies to dependencies

[2019-01-08 16:19] togakangaroo commented on #62
deleting all node_modules and storybook and reinstalling them and `npx` init'ing storybook worked for me to fix it...so maybe it's not on yall and just a result of the npm ecosystem getting absurdly complex lately?

I don't know...

[2019-01-15 14:12] Bobgy commented on #22
Hi, I want to use https://github.com/siddharthkp/react-docgen-external-proptypes-handler with @storybook/addon-info which uses babel-plugin-react-docgen. So I need to be able to use handlers here.
Not familiar with any of things here, so I couldn't help with PR or anything, just stating how it could be useful.

[2019-01-17 12:54] mahmoud-zakria-sociomantic opened #65 "[react-docgen]Smartknobs is not showing up"
Would you please take a look at this thread?
https://github.com/storybooks/addon-smart-knobs/issues/37#issuecomment-448671770

[2019-01-21 16:38] rally25rs commented on #62
It sometimes works depending on the hoisting of the package manager wand what other packages are installed, but relying on this hoisting is a bad practice and can lead to unexpected results.

This also breaks use of yarn Plug'n'Play, or if you use yarn's nohoist feature to prevent `recast` from being moved to `node_modules/recast`

[2019-01-22 20:46] vjpr commented on #62
This is broken in pnpm too. It just needs to be added to dependencies.

[2019-01-22 20:54] codingmatty opened #66 "Does not work with `class` Components"
I am trying to extract prop-types info from a component in storybook.
I am using the default `babel-plugin-react-docgen` that comes baked in to `@storybook/react@4.1.7` which is at version 2.0.0
It looks like that uses `react-docgen@3.0.0-rc.1`

When I `console.log(Component.__docgenInfo)` in a story file for a Component that is defined with `class`:
[code]

When I do the same thing in a story fil

[2019-01-29 17:17] danielduan commented on #62
fixed in version 2.0.2

[2019-01-29 17:17] #62 closed

[2019-03-18 11:21] NuclleaR commented on #66
Have the same issue

[2019-03-18 21:46] jniemin commented on #66
Yep, same here and we are using CRA too.

[2019-03-27 13:42] leepowellcouk opened #67 "Not working with `forwardRef` wrapped components"
https://github.com/storybooks/babel-plugin-react-docgen/blob/fa170793df1d9065ba4bd25238627a72e55fbcb6/src/index.js#L49

This seems to exit early when a component is generated in a `forwardRef` call:

[code]

And as such does not attach any docgen data. This seems to stem from `actualNameHandler`.

[2019-03-27 14:20] leepowellcouk commented on #67
Looks like v4 of react-docgen support this: https://github.com/reactjs/react-docgen/pull/324

[2019-03-27 14:47] leepowellcouk commented on #67
Just tested this plugin using `react-docgen@4` and can confirm a component wrapped in forwardRef works as expected if this is commented out:
[code]
So if we can fix `actualNameHandler` to recognise forwardRefs this should work.

[2019-03-27 15:05] shilman commented on #67
any chance you can issue a PR for this? If so I can test and release an upgrade

[2019-03-27 15:06] leepowellcouk commented on #67
Yes, I'm just working one up, will be with you shortly.

[2019-03-27 15:28] leepowellcouk commented on #67
Added: https://github.com/storybooks/babel-plugin-react-docgen/pull/68

[2019-03-27 15:50] danielduan commented on #67
fixed in `v3.0.0`, will integrate into storybook.

[2019-03-27 15:50] #67 closed

[2019-03-27 19:23] leepowellcouk commented on #67
Do you want me to create a PR to update to v3 here:
https://github.com/storybooks/storybook/blob/next/app/react/package.json

[2019-04-30 17:29] blorenz opened #70 "How to docgen for an npm package?"
I recently refactored my docs out of my npm UI package and made a separate repository for my docs. I am not seeing the `__docgenInfo` on the components and I believe that is because they are being imported from `node_modules` in the docs now.  Is there a configuration that I am missing to parse these components in `node_modules`?

[2019-04-30 23:34] danielduan commented on #70
Packages usually come precompiled so they don’t run through Babel where they can be processed with this plugin. You could certainly add your node_modules folder to the list of includes in webpack and compile it again to get the docs but know that this will significantly increase your build time.

[2019-04-30 23:35] #70 closed

[2019-05-13 12:07] sanchezweezer commented on #66
Same, CRA

[2019-08-19 17:46] 7rulnik opened #72 "Upgrade to react-docgen@v5.0.0-beta.1"
react-docgen@v5.0.0-beta.1 was [released](https://github.com/reactjs/react-docgen/releases) few months ago. Now it's smaller, supports TS, forwardRef and others.

[2019-08-26 15:30] josias-r commented on #72
very welcome here as well, since current alternatives are lacking features

[2019-08-26 16:29] shilman commented on #72
@danielduan i'm also interested in this as part of [Storybook Docs](https://medium.com/storybookjs/storybook-docspage-e185bc3622bf) and since i also manage all the SB releases i'd be happy to work together to figure out the best way to get this out.

what do you think about:
1. upgrading this package
2. releasing this package as a beta
3. incorporating the beta package into `5.3-alpha` as soon as

[2019-08-26 18:25] josias-r commented on #72
I tried it locally and I didn't experience any errors, simply updating it should be all the work needed ^^

[2019-09-26 19:53] salmanm commented on #61
Any updates on this folks? @VladimirPittner Did you manage to work around this problem?

[2019-10-15 23:11] jmohsenin commented on #66
Same, I'm using CRA + TS. Anyone find a solution for this?

[2019-10-22 12:36] xiaoshuangLi opened #76 "The issue with forwardRef Component"
Following Component won't have ```__docgenInfo```.Because of the ```isReactForwardRefCall ```  in ```react-docgen``` not recognize ```forwardRef(...)```. We get the ast base on ```(props, ref) => {...}```.The ```actualNameHandler``` can't the right name we need.

[code]

[2019-10-24 18:10] danielduan commented on #72
My apologies for taking so long, I published a prerelease version `babel-plugin-react-docgen@4.0.0-beta.1` under the `prerelease` tag.

I haven't had the chance to get my dev environment up to speed with the latest Storybook development so please let me know if this works. @shilman @josias-r @7rulnik

[2019-10-24 19:33] danielduan commented on #76
@xiaoshuangLi you are more than welcome to open a PR to fix the bug and add some test cases. unfortunately, I don't have much bandwidth these days to do much feature work.

[2019-10-24 19:36] danielduan commented on #66
can someone paste an example of a component that doesn't work here?

we do have a test here that covers the `class Component extends React.Component`
https://github.com/storybookjs/babel-plugin-react-docgen/tree/master/test/fixtures/case2

[2019-10-24 19:41] danielduan commented on #61
Think this is fixed by https://github.com/storybookjs/babel-plugin-react-docgen/pull/74

[2019-10-24 19:41] #61 closed

[2019-10-24 19:42] #48 closed

[2019-10-24 19:42] danielduan commented on #48
Fixed in v3.2.0

[2019-10-25 05:52] xiaoshuangLi commented on #76
@danielduan Good news. ```react-docgen``` fix this hours ago. #77

[2019-10-25 06:44] xiaoshuangLi commented on #76
@danielduan Good news, ```react-docgen``` fixed it hours ago. reactjs/react-docgen#385

[2019-10-25 06:44] #76 closed

[2019-10-25 16:33] jmohsenin commented on #66
My issue ended up being with the TS-specific version: https://github.com/strothj/react-docgen-typescript-loader/issues/42

[2019-10-26 15:38] shilman commented on #72
@danielduan I'm considering upgrading Storybook 5.3-alpha to use this prerelease. 5.3's target release date is Jan 7 ... any thoughts on that, one way or the other?

[2019-10-26 16:03] danielduan commented on #72
@shilman I think it's a toss up without knowing react-docgen's release schedule. The new features in 4.0.0 is definitely worth upgrading for if we're okay with testing out the stability and reliability.

Perhaps we throw it into our prerelease builds and if things go wrong, we remove it before the full release? If it goes well, we just keep the beta version?

[2019-10-26 16:07] shilman commented on #72
@danielduan Cool. I'm gonna do a release with 3.2 now, just so there's one out there, and then we can upgrade to 4.0 next.

[2019-11-22 05:07] developerntuc opened #79 "React.createRef could breaking generating doc"
Whenever I use `React.createRef` in code it breaks and does not add `__docgenInfo` to component. It could be related to this plugin or react-docgen itself?

[2019-12-12 12:10] josias-r commented on #72
react-docgen@v5.0.0 has just been released 🥳

[2019-12-12 18:21] danielduan commented on #72
I'm on vacation for the next few days, if anyone wants to open a PR for it, would help me out a lot. Otherwise, I will get an update out sometime hopefully late next week.

[2019-12-13 01:10] shilman commented on #72
@danielduan I'll try to take a look at it & will post here

[2019-12-24 15:32] aareman commented on #66
I'm having this issue as well. Not using typescript.

## I'm using
-         "babel-plugin-react-docgen": "^3.2.0",
-         "@storybook/react": "^5.3.0-rc.0",
-        "@storybook/addon-docs": "^5.3.0-rc.1",

## Example Component
[code]
## Storybook Screenshot (in storydocs)
![image](https://user-images.githubusercontent.com/10500823/71418394-42440700-2638-11ea-870c-e2edfa53b6a9.png)

[2019-12-24 17:08] aareman commented on #66
Update!!! This works with react-docgen directly from the cli. It does not work from babel with this plugin

[2019-12-24 19:27] aareman commented on #66
Another update!! I've tried several workarounds and the behavior is quite perplexing

using the following snippet as the base:
[code]

## Workaround 1: (infile wrapper) :heavy_check_mark: but not great... :crying_cat_face:
[code]
Notice that the default props and proptypes need to be declared in the file on the Wrapper component. This means the transform is reading the file and looking for the com

[2020-01-02 19:08] #72 closed

[2020-01-04 08:16] shilman commented on #66
Cc @patricklafrance

[2020-01-15 02:23] #66 closed

[2020-03-14 17:50] km1790 opened #82 "Cannot define custom resolver"
I need to define custom resolver, but it only allows to pick between
- findAllComponentDefinitions
- findExportedComponentDefinition
- findAllExportedComponentDefinitions

It should be like handler, where we can define custom resolver and require should take care of it.

I believe it can be easily accomplished by modifying:
https://github.com/storybookjs/babel-plugin-react-docgen/blob/fb4a47539a68

[2020-03-14 21:38] km1790 commented on #82
I have forked it for now and made the change.
But looking forward to see if it can be merged with your repo.

https://github.com/km1790/babel-plugin-react-docgen

[2020-04-23 07:34] kevinzang opened #83 "Cannot pass Babel parser options to react-docgen"
react-docgen doesn't work for my code which has decorator before export:

[code]

I tracked down the react-docgen code to here:

https://github.com/reactjs/react-docgen/blob/8028dad6c727eafafe7fb79113d43e261209311e/src/babelParser.js#L81-L86

and the babel-plugin-react-docgen code to here:

https://github.com/storybookjs/babel-plugin-react-docgen/blob/863bc969232615bb319be5bd01e23470d6adda57/src/i

[2020-05-13 08:52] thingsinjars opened #84 "Update `actualNameHandler` to remove FB patent license"
The `actualNameHandler.js` still refers to the BSD+FB patent grant licence although the latest version of the file that was based on (in react-docgen) is now licensed as MIT.

Inclusion of the original licence makes usage problematic for some projects.

[2020-07-27 14:57] supersnager commented on #66
Still does not work for me.
I'm using v4.0.1.

Webpack custom configuration:
[code]

[2020-09-23 17:42] #82 closed

[2020-09-23 17:42] #83 closed

[2020-09-30 15:01] kivervinicius opened #90 ""Component".__docgenInfo no available on 4.2.0"
I update to 4.2.0, but, __docgenInfo no work anymore, in 4.1.0 work

[2020-09-30 15:23] jimmyandrade commented on #90
@kivervinicius hello, thanks for reporting this issue.

Could you help us editing your issue with a more clear description of what the bug is, including steps to reproduce the behavior, the expected behavior and current behavior (with screenshots and/or some error log).

A minimal reproduction would be good too, together with some environment info, like:

- OS: [e.g. iOS]
- Node.js version: [e.g.

[2020-09-30 18:04] kivervinicius commented on #90
@jimmyandrade today i updated the version available in npm and my project no longer sees the __docgen property, i will mount an example

[2020-09-30 18:09] jimmyandrade commented on #90
@kivervinicius I understand and I'm sorry for that. I'll wait for the example so that I can contribute in some way.
Thank you :)

[2020-09-30 19:25] shilman commented on #90
@phated any thoughts on this?

[2020-10-05 18:52] ethancrook99 opened #91 "Dependency Version Update (react-docgen)"
What would it take to update the react-docgen dependency to 5.3.0? Related to [this issue](https://github.com/storybookjs/storybook/issues/11883), prop tables are still missing props for components that use optional chaining. I tried to update it myself, but I found that all the tests started to fail when I updated to 5.3.0 and I couldn't identify what change made that happen.

[2020-10-05 19:13] shilman commented on #91
The dependency is:

So I think 5.3.0 matches that version spec and there are no changes required in the library, only in your project. No?

[2020-10-06 06:36] idbartosz commented on #91
I think it still requires an update on your end

https://github.com/storybookjs/babel-plugin-react-docgen/blob/c02946ed5309f0bcc2df67ac2fdabfbcbc323803/yarn.lock#L3580-L3583

[2020-10-06 18:18] shilman commented on #91
@idbartosz I don't think the lock file has any bearing on what gets installed when you add this package, only when you develop this package. Correct me if I'm wrong.

@ethancrook99 thanks for the PR! I'll take a look now!

[2020-10-07 19:40] mpcarolin commented on #91
We also encountered this issue and would appreciate a fix (it looks like @ethancrook99 's PR handles that).

A temporary workaround for us is to use this resolution in our application's `package.json`:

[code]

[2020-10-09 17:14] branflake2267 commented on #66
My workaround... (change my component file name from .js to .jsx)

I have the same problem, the propTypes comments are not annotated in the storybook docs.

My Test
[code]

[2020-10-23 18:13] kivervinicius commented on #90
#91 Related problem, im my case, the problem ocurrent with handlers

` ["babel-plugin-react-docgen",
        {
            "handlers:": [
                "react-docgen-deprecation-handler"
            ]
        }]
`

[2021-04-12 11:58] #90 closed

[2021-12-03 14:45] IanVS commented on #91
It looks like this issue can be closed, feel free to speak up if you think there's still something to do here.

[2021-12-03 14:45] #91 closed